
@import '../scss/colors';

body {
  margin: 6px !important;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.game {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.scoreContainer {
  display: flex;
  margin-bottom: 10;
  justify-content: center;
}

.players {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.score {
  padding: 0 30px;
  line-height: 90px;
  margin: 0;
  font-weight: 400;
  font-size: 110px;
}

.team1 {
  color: $blue;
}

.team2 {
  color: $pink;
}
