.root {
  align-self: center;
}

.avatarContainer {
  display: flex;
  align-items: center;
}

.userName {
   color: #6d6d6d;
  font-weight: 600;
  font-size: 20px;
  margin-right: 5px;
  text-align: right;
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
