@import '../scss/colors.scss';

.root {
  max-width: 400px;
  position: relative;
  margin: -20px auto;
}

.label-attack,
.label-defense {
  position: absolute;
  color: $gray-55;
  font-size: 20px;
}

.label-attack {
  left: 15px;
  top: 15px;
}

.label-defense {
  bottom: 15px;
  right: 15px;
}
