.game-list-item:hover {
    cursor: pointer;
}

.login {
    align-self: center;
}

.login-avatar-container {
    display: flex;
    align-items: center;
}

.login-username {
    color: #6d6d6d;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-right: 5px;
    text-align: right;
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.headline {
    color: #6d6d6d;
    font-family: 'Roboto Condensed', sans-serif;
}

.score h1 {
    padding: 0 30px;
    line-height: 90px;
    margin: 0;
    font-weight: 400;
    font-size: 110px;
}

.team1 {
    background: rgb(0, 188, 212);
}

.team1score {
    color: rgb(0, 188, 212);
}

.team2score {
    color: rgb(255, 64, 129);
}

.team2 {
    background: rgb(255, 64, 129);
}

.topitems {
    order: 1;
}

.botitems {
    order: 2;
}

.player-selection > div:nth-of-type(3) {
    order: 2;
    background: rgb(255, 64, 129);
}

.player-selection > div:nth-of-type(4) {
    background: rgb(255, 64, 129);
}

.undoContainer button span {
    font-size: 40px !important;
}

.undoContainer button {
    margin-right: 60px !important;
}

.scoretimeline__subheadline {
    margin: 5px 0;
    text-align: center;
}

.scoretimeline__time {
    color: #979797;
    line-height: 18px;
    font-size: 12px;
}

.scoretimeline__score {
    line-height: 30px;
    font-size: 34px;
}

.scoretimeline__goalscorer {
    position: relative;
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    height: 40px;
    font-size: 18px;
}

.scoretimeline__goalscorer > div {
    width: 50%;
    text-align: center;
}

.scoretimeline__goalscorer > div svg {
    align-self: center;
    margin: 0 10px;
}

.scoretimeline__goalscorer > div > div {
    padding: 3px;
    display: flex;
    justify-content: center;
}



.scoretimeline__goalscorer > div:last-of-type {
    border-left: 1px solid #979797;
}

.game-list-item {
    color: #6d6d6d;
    font-family: 'Roboto Condensed', serif;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 0;
}

.game-list-item:nth-of-type(even) {
    background: #f3f3f3;
}

.game-list-item__date {
    text-align: right;
    color: #BDBDBD;
    padding: 0 5px;
    font-style: italic;
}

.game-list-item__score {
    font-size: 46px;
    padding: 0 5px;
    margin-top: 15px;
    color: #BDBDBD;
}

.game-list-item__left,
.game-list-item__right {
    flex-basis: 100px;
    flex-shrink: 0;
}

.game-list-item__bottom {
    display: flex;
    justify-content: space-between;
}

.game-list-item__player {
    text-align: center;
    font-size: 20px;
    padding: 5px;
}

.game-list-item__player-name {
    display: flex;
}

.game-list-item__player-score {
    font-size: 16px;
}

.square {
    width: 40px;
    height: 40px;
    border: 1px solid #f3f3f3;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    flex-grow: 1;
}

.combos {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -8px;
    margin-right: -8px;
}

.row {
    display: flex;
}

.combo-inner {
    display: flex;
    flex-direction: column;
}

.combo-inner > span:first-of-type {
    font-size: 15px;
}

.combo-inner > span:last-of-type {
    font-size: 11px;
    font-style: italic;
}

.property-chart {
    display: flex;
    justify-content: center;
    padding: 40px 10px;
    flex-direction: column;
    align-items: center;
}

.property-chart > canvas {
    max-width: 400px;
}

.property-chart__labels {
    text-transform: uppercase;
    color: #6d6d6d;
}
