.score-button {
    width: 200px;
    margin: 0 10px;
}

.game-list-item:hover {
    cursor: pointer;
}

@media (max-width: 768px) {
    .score-button {
        min-width: 64px;
        width: 130px;
    }
}

