@import '../scss/flex.scss';

.root {
  @extend .flex-container;
}

.attackDefense {
  @extend .flex-item-small;
}

.chart-outer {
  @extend .flex-item-large;
}

.chart {
  height: 240px;
}

.performance {
  @extend .flex-item-small;
}

.propchart {
  @extend .flex-item-small;
}

.stats {
  @extend .flex-item-small;
}

.headline {
  padding: 0 8px;
  width: 100%;
  color: #6d6d6d;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  align-items: center;
}
