@import '../scss/colors.scss';

.score {
  font-size: 46px;
  padding: 0 5px;
  margin-top: 15px;
  color: #bdbdbd;
}

.left,
.right {
  flex-basis: 100px;
  flex-grow: 1;
  flex-shrink: 0;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.player {
  font-size: 20px;
  padding: 5px;
}

.playerName {
  display: flex;
  justify-content: center;
}

.playerScore {
  font-size: 16px;
  text-align: center;
}

.gainColor {
  color: $green;
}

.lostColor {
  color: $red;
}
