.root {
  position: relative;
  font-size: 15px;
  max-width: 24px;
  display: inline-block;
}

.hotnumber {
  position: absolute;
  color: black;
  top: -8px;
  font-weight: 600;
  right: -2px;
}

.streak-10 {
  color: #9C27B0 !important;
}

.streak-7 {
  color: #B71C1C !important;
}

.streak-5 {
  color: #E91E63 !important;
}

.streak-3 {
  color: #F57C00 !important;
}
