.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  padding: 8px;
}

.flex-item-small {
  @extend .flex-item;
  flex-grow: 1;
  flex-basis: 400px;
}

.flex-item-large {
  @extend .flex-item;
  max-width: 100%;
  flex-grow: 1;
  flex-basis: 800px;
}
